@import "src/assets/common";

.details {
  min-height: 100vh;
  overflow: auto;

  .container {
    margin: 0 auto;
  }

  button {
    margin-top: 3.5em;
    width: 130px;
    font-size: 12px;
  }

  .description {
    margin: 4em auto;
    padding: 8px;
    display: flex;

    .flag {
      height: 22em;
      object-fit: contain;
      padding-right: 9em;
      flex-direction: column;
    }

    .about {
      flex-direction: column;

      h2 {
        font-weight: $primary_font_weight_three;
      }

      .more {
        display: grid;
        grid-gap: .5em;
        grid-template-columns: 2fr 1fr;

        span {
          font-weight: $primary_font_weight_two;
          display: flex;
        }

        .data {
          font-weight: $primary_font_weight_one;
          margin-left: .3em;
        }
      }

      .border-countries {
        margin-top: 1em;
        display: block;

        .borders-label {
          flex-direction: column;
          margin-top: 3em;
          margin-right: 1em;
          display: flex;
        }

        .borders {
          width: auto;
          margin-right: 1em;
          flex-direction: column;
        }

      }
    }


  }

}

@media (max-width: 1346px) {
  .details {
    .container {
      .description {
        display: block;
        text-align: center;

        .flag {
          padding: 0;
        }

        .about {
          .more {
            text-align: left;
          }
        }
      }

    }
  }

}

@media (max-width: 800px) {
  .details {
    .container {
      .description {

        .flag {
          height: 14em;
        }
      }

    }
  }
}

@media (max-width: 500px) {
  .details {
    .container {
      .description {

        .flag {
          height: 10em;
        }
      }

    }
  }
}
