@import "../../assets/common";

.main {
  min-height: 100vh;
}
.container {
  width: 80%;
  margin: 0 auto;

  .filter {
    padding: 2em 0;

    .dropdown {
      float: right;

      #select {
        width: 9em !important;
      }

      #selectRegion {
        width: 6em !important;
      }

    }
  }

  .countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
