// Themes
$dark_blue: hsl(209, 23%, 22%);
$very_dark_blue: hsl(207, 26%, 17%);
$very_dark_blu: hsl(200, 15%, 8%);
$dark_gray: hsl(0, 0%, 52%);
$very_light_gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Font
$primary_font_family: 'Nunito Sans', sans-serif;
$primary_font_weight_one: 300;
$primary_font_weight_two: 600;
$primary_font_weight_three: 800;
